#quotegenerator{
	/*background-color: #bbff00;
	position: fixed;
	top: 50%;*/
	width: 75%;
    height: 35%;
    background-color: darkgreen;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    font-family: sans-serif;
    border-radius: 25px;
}
#quoteButton {
	position: absolute;

    left: 45%;
    right: 0;
    bottom: 28%;

}
p {
	font-size: 10;
}
button {
	color:blue;
}
body {
	background-color: teal;
}